<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="yaesu.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <yaesu.Properties.Settings>
            <setting name="BaseFormLocation" serializeAs="String">
                <value>0, 17</value>
            </setting>
            <setting name="BaseClientSize" serializeAs="String">
                <value>1184, 761</value>
            </setting>
            <setting name="DefaultFolderPath" serializeAs="String">
                <value />
            </setting>
            <setting name="OpendFilePath" serializeAs="String">
                <value />
            </setting>
            <setting name="MyClientSize" serializeAs="String">
                <value>0, 0</value>
            </setting>
        </yaesu.Properties.Settings>
    </userSettings>
</configuration>